@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  background-color: #030712; /* gray-950 */
  color: #ffffff;
}

/* Custom scrollbar for some UI elements if needed */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 10px;
}
